<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Check Your Followers / Lookup Bot and Inactive Information for Twitter Accounts</title>

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/core.css">

    <script src="//use.typekit.net/ntj1wza.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


</head>

<body>

    <section id='main'>

        <div id='text-float'>

            <h1>Check Your Followers</h1>

            <h3>See how many of a Twitter account's followers are inactive or bots</h3>

            <a href='/auth/twitter'>
                <img src='/img/twitter-bird.png' />
                <p>Log In With Twitter</p>
            </a>

        </div>

        <img id='down-arrow' src='/img/down-arrow.png' />

    </section>

    <header>

        <ul>
            <li><a href='/'>About</a></li>
            <li><a href='/'>Github</a></li>
            <li><a target='_blank' href='https://twitter.com/followcheckbot'>Twitter</a></li>
        </ul>


    </header>


    <section id='bottom'>

        <div class='cf'>

            <div id='col-a'>

                <section class='top'>
                    <h3>What does this do?</h3>
                    <p>Ever wonder how many of a Twitter user's followers are actually real users? We'll figure it out.</p>
                </section>

                <section>
                    <h3>Why do I have to sign up?</h3>
                    <p>Signing up lets us make requests to Twitter for data at a faster rate, so we require signup.</p>
                </section>

            </div>

            <div id='col-b'>

                <section class='top'>
                    <h3>Will you tweet anything for me?</h3>
                    <p>No. We hate spam, and during signup we request read permission only. We'll never share your info.</p>
                </section>

                <section>
                    <h3>How do you categorize users?</h3>
                    <p>Check out the About link at the top of this page for background on how the tool works and results.</p>
                </section>

            </div>

        </div>

    </section>

    <p>A project by <a target='_blank' href='https://twitter.com/joshdickson40'>@joshdickson40</a></p>

</body>

</html>
